/* Subheader */
.header-box{
  border-bottom: 1px solid var(--gray-100);
  display: block;
}
.subheader {
  display: flex;
  gap: var(--space-10);
  background-color: var(--white);
  justify-content: flex-end;
  padding: var(--space-2) var(--space-8);
  .subheader-options, .subheader-internacionalizacion {
    ul {
      display: flex;
      gap: var(--space-10);
      list-style: none;
      li {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
/* Header */
header {
  display: flex;
  background-color: var(--white);
  padding: var(--space-5) var(--space-8);
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    gap: var(--space-10);
    list-style: none;
    li {
      a {
        text-decoration: none;
      }
    }
  }
}
.header-user-options {
  display: flex;
}

.header-user-login {
  padding: 0 var(--space-4);
  ul {
    display: flex;
    gap: var(--space-10);
    list-style: none;
    li {
      a {
        text-decoration: none;
      }
    }
  }
}
