<div class="header-box">
  <div class="subheader">
    <div class="subheader-options">
      <ul>
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Lista de deseos</a></li>
        <li><a href="#">Cambios y devoluciones</a></li>
        <li><a href="#">Seguimiento de pedidos</a></li>
        <li><a href="#">Lista de deseos</a></li>
      </ul>
    </div>
  </div>
  <header>
    <div class="header-burguer-button">
      <img src="assets/icons/burguer-icon.svg" alt="">
    </div>
      <div class="header-logo">
        <a routerLink="/">
          <img src="assets/img/logo_adidas.svg" alt="">
        </a>
      </div>
      <nav class="header-menu">
        <ul>
          <li><a routerLink="zapatos-hombre">Masculino</a></li>
          <li><a routerLink="zapatos-mujer">Femenino</a></li>
          <li><a routerLink="zapatos-ninos">Infantil</a></li>
        </ul>
      </nav>
      <div class="header-user-options">
        <div class="header-user-login">
          <ul>
            <li><a routerLink="#"><img src="assets/icons/user.svg" alt=""></a></li>
            <li><a routerLink="#"><img src="assets/icons/like.svg" alt=""></a></li>
            <li>
              <div class="car-icon">
                <a routerLink="#">
                  <div class="card-counter">
                    <span>{{ counterItemsCar }}</span>
                  </div>
                  <img src="assets/icons/shopping.svg" alt="">
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </header>
</div>
