<div class="header-box">
  <app-subheader></app-subheader>
  <header>
    <div class="header-burguer-button">
      <a (click)="showMenu()"><img src="assets/icons/burguer-icon.svg" alt=""></a>
    </div>
      <div class="header-logo">
        <a routerLink="/">
          <img src="assets/img/logo_adidas.svg" alt="Logo, Adidas">
        </a>
      </div>
      <app-header-options></app-header-options>
      <div class="header-user-options">
        <div class="header-user-login">
          <ul>
            <li><a routerLink="#"><img src="assets/icons/user.svg" alt=""></a></li>
            <li><a routerLink="#"><img src="assets/icons/like.svg" alt=""></a></li>
            <li>
              <div class="car-icon">
                <a routerLink="#">
                  <div class="card-counter">
                    <span>{{ counterItemsCar }}</span>
                  </div>
                  <img src="assets/icons/shopping.svg" alt="">
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </header>
  <div [class.show]="responsiveMenu" class="header-dropdown-menu">
    <ul>
      <li><a href="zapatos-hombre">Masculino</a></li>
      <li><a href="zapatos-mujer"> Femenino</a></li>
      <li><a href="zapatos-ninos"> Infantil</a></li>
    </ul>
    <hr>
    <ul>
      <li>Lista de deseos</li>
      <li>Cambios y devoluciones</li>
      <li>Seguimiento de pedidos</li>
      <li>Ayuda</li>
    </ul>
  </div>
</div>
