<div class="header-box">
  <div class="subheader">
    <div class="subheader-options">
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div>
    <div class="subheader-internacionalizacion">
      <ul>
        <li><a href="#">English</a></li>
      </ul>
    </div>
  </div>
  <header>
      <div class="header-logo">
        <img src="/assets/img/logo_adidas.svg" alt="">
      </div>
      <nav class="header-menu">
        <ul>
          <li><a href="#">Masculino</a></li>
          <li><a href="#">Femenino</a></li>
          <li><a href="#">Infantil</a></li>
        </ul>
      </nav>
      <div class="header-search">
        <input type="text" placeholder="Search">
        <button>Search</button>
      </div>
      <div class="header-user-options">
        <ul>
          <li><a href="#">Cuenta</a></li>
          <li><a href="#">Favoritos</a></li>
          <li><a href="#">Carrito</a></li>
        </ul>
      </div>
  </header>
</div>
