<div class="product-box">
  <div class="product-image">
    <img src="https://via.placeholder.com/1413x1413" alt="Hola mundo">
  </div>
  <div class="product-info">
    <div class="product-category">
      <a href="">
        <p>Originals</p>
      </a>
    </div>
    <div class="product-title">
      TENIS SAMBA OG
    </div>
    <div class="product-price">
      <p>$ 599.950</p>
    </div>
    <div class="product-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, illo dignissimos. Libero maxime laboriosam
        qui labore minus repellendus accusantium repellat deleniti aliquid, suscipit ab odio aspernatur deserunt placeat
        neque. Temporibus.</p>
    </div>
    <div class="product-review">
      <div class="product-stars">
        <ul>
          <li>☆</li>
          <li>☆</li>
          <li>☆</li>
          <li>☆</li>
          <li>☆</li>
        </ul>
      </div>
      <div class="product-reviews">
        <p>3 Reseñas</p>
      </div>
    </div>
    <div class="product-button-add-car">
      <button>Añadir al carrito</button>
    </div>
  </div>
</div>
