<div class="card-product">
  <a class="card-product-anchor" href="#">
    <div class="card-product-box">
      <div class="card-product-img">
        <img [src]="productInfo.image" alt="product image" />
      </div>
      <div class="card-product-body">
        <div class="card-product-price">
          <span>$ {{ productInfo.price }}</span>
        </div>
        <div class="card-product-title">
          <h2>{{ productInfo.name }}</h2>
        </div>
        <div class="card-product-category">
          <h3> {{ productInfo.categories[0]}}</h3>
        </div>
      </div>
    </div>
  </a>
</div>
